@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
--color-primary: oklch(64% 0.20 160);
--color-secondary: oklch(58% 0.16 170);
--color-accent: oklch(72% 0.18 140);

/* Base */
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(97% 0.01 160);
--color-base-300: oklch(92% 0.015 160);

/* Neutral */
--color-neutral: oklch(34% 0.01 180);
--color-neutral-content: oklch(96% 0 0);

/* Feedback */
--color-success: oklch(70% 0.19 145);
--color-error: oklch(61% 0.23 30);


}

/* .btn{
  color: #213448;
  background-color: #EAE0CF;
  border-radius: 30px;
}

.btn-primary{
  border-radius: 30px;
  color: #213448;

} */


@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));